# virtual env
catt

# ignore the logs
logs

# trash generated
config/__init__.py
models/__pycache__/DepthEstimationModel.cpython-312.pyc
utils/__pycache__/__init__.cpython-312.pyc
utils/__pycache__/common_functions.cpython-312.pyc
utils/__pycache__/logger.cpython-312.pyc


#dataset 
data_download
.DS_Store
softlabels.h5
models/.DS_Store
models/midas/1.tflite
stages/__pycache__/data_ingestion.cpython-312.pyc
stages/__pycache__/generate_dataset.cpython-312.pyc
stages/__pycache__/load_model.cpython-312.pyc
utils/__pycache__/data_loader.cpython-312.pyc
model.tflite
checkpoints/best/checkpoint
checkpoints/best/ckpt-1.data-00000-of-00001
checkpoints/best/ckpt-1.index
checkpoints/last/checkpoint
checkpoints/last/ckpt-2.data-00000-of-00001
checkpoints/last/ckpt-2.index
models_trained/fingerprint.pb
models_trained/saved_model.pb
models_trained/variables/variables.data-00000-of-00001
models_trained/variables/variables.index
stages/__pycache__/configure_optimizer_metrices.cpython-312.pyc
stages/__pycache__/model_training.cpython-312.pyc
utils/__pycache__/train_val_function.cpython-312.pyc
actual_depth.mp4
depth.mp4